<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">
    <application>
        <activity android:name=".MovieCategoryActivity"/>
        <activity android:name=".MovieActivity"/>
        <activity android:name=".MovieActivityDetail"/>
        <activity android:name=".MovieActivityTrailer"/>
        <activity android:name=".MovieActivityVideo"/>
        <activity android:name=".MovieActivityReview"/>
    </application>
</manifest>